*{/* Reseteo básico para quitar espacios por defecto del navegador */
    margin: 0px;
padding: 0px;
box-sizing: border-box;}
html{
    font-size: 62.5%; /* Facilita el uso de rem (1rem = 10px) */    
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px;
}
 
.Maestro{
    width: 35rem;
    border-radius: 30px;
    box-shadow: 0 15px 40px #bbb;
    transition: 0.3s;
}
.Maestro:hover {
    transform: translateY(-10px) rotate(1deg);
}
.Titlecon{
  width: 100%; 
  text-align: center;
    font-size: 3.5rem;
    color: #333;
     margin-bottom: 3rem;
}
.contact_form {
    background: white#bbb;
    padding: 3rem;
    border-radius: 2.5rem;
    width: 100rem;
    box-shadow: 0 20px 50px #969494e8;
  
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label {
    font-size: 1.8rem;
    color: #333;
}

input, textarea, select {
    padding: 1.5rem;
    border: 1.5px solid #333;
    background: #e2e0e0;
    font-size: 15px;
    transition: 0.3s;
}

input:focus {
    outline: none;
    border-color: #008DDF;
    background:white;
    box-shadow: 0 0 10px rgba(0, 141, 223, 0.452);
}
.List:focus{
    outline: none;
    border-color: #008DDF;
    background:white;
    box-shadow: 0 0 10px rgba(0, 141, 223, 0.452);
}
textarea:focus{
outline: none;
    border-color: #008DDF;
    background:white;
    box-shadow: 0 0 10px rgba(0, 141, 223, 0.452);
}
.btn {
    margin-top: 15px;
    padding: 18px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #777272, #333333);  
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #008DDF; 
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 141, 223, 0.3);
}

@media (max-width: 480px) {
    main {
        flex-direction: column; 
        padding: 40px 15px;
        gap: 30px;
    }

    .contact_form {
        padding: 2rem;
        width: 100%;
    }

    .Maestro {
        max-width: 250px; 
        max-width: 100px;
    }

    label {
        font-size: 1.4rem;
    }}