*{/* Reseteo básico para quitar espacios por defecto del navegador */
    margin: 0px;
padding: 0px;
box-sizing: border-box;}
html{
    font-size: 62.5%; /* Facilita el uso de rem (1rem = 10px) */    
}
img{
  width:330px;
  border-radius:2rem;
  box-shadow:0 20px 50px rgba(0,0,0,0.25);
}
input {
    padding: 1.5rem;/* tamaño del cuadro */
    border: 1px solid #ddd;
    border-radius: 1rem;
    /* bordes de los cuadros, grosor tipo de grosor color y el ultimos es el radio para que se vea un tri circular */
    font-size: 1.4rem;
    /* transition: border-color 0.3s, box-shadow 0.3s; */
}label {
    font-size: 1.5rem;
    font-weight: bold;
    /* tamaño letra del label y la negrita */
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   /* sin borde  en la caja principl, display para que se pueda aplicar el colum que lo pone en columna y el gap esoacio entre items*/
}
.btn {
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 1.8rem;
    /* todo lo relacionado al boton, margen, espacio en caja, color,tipografia y bordes */
}