* {
    /* Reseteo básico para quitar espacios por defecto del navegador */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    /*1rem = 10px*/
    height: 100%;
    scroll-behavior: smooth; /*para que se mueva despacio*/
}

.Fondo {
    position: relative;
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
    z-index: 1;
    /*pa q se oculte el boton mientras este ese en la plnatalla*/

}

.Fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 47, 150, 0.6), rgba(0, 10, 50, 0.7));
    z-index: 1;
}

.Fondoimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.ContenidoFondo {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 30px;
    z-index: 1;

}

.btnWhatsapp2,
.btncel {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5rem;
    transition: 0.3s;
}

.Izquierda {
    color: white;
    max-width: 600px;
}

.Izquierda p {
    font-size: 2rem;
    margin-top: 18px;
}

.TitleIzquierda {
    font-size: 7rem;
    font-weight: 900;
    line-height: 1;
}

.btnWhatsapp2 {
    Background: #008DDF;
    color: white;
    margin-top: 20px;
}

.Derecha {
    background: #6e9fbb96;
    color: white;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    max-width: 340px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.603);
}

.TitleDerecha {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
    line-height: 1;
}

.btncel {
    background: #008DDF;
    color: white;
    display: block;
    margin-top: 15px;
}

.btnWhatsapp2:hover,
.btncel:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.Quienessomos {
    font-family: 'Segoe UI', sans-serif;
    max-width: 1000px;
    margin: auto;
    margin-bottom:12rem;
}

.TitleQuienesSomos {
    font-size: 5rem;
    color: #008DDF;
    font-weight: 900;
    margin-top: 8rem;
    margin-bottom: 5rem;
    text-align: center;
}

.Acercadenostros {
    position: relative;
    border-left: 3px solid #008DDF; 
    padding-left: 4rem;
    margin-left: 2rem;
}

.Text{
    font-size: 2.8rem;
    color: #333;
    margin-bottom: 3rem;
    line-height: 1.4;
}


.Prestamos {
    color: #333 ;
    font-weight: 800;
    font-size: 2.1rem;
    background: linear-gradient(90deg, #c1deff, transparent);
    padding: 1.5rem;
    border-radius:25px;
margin-bottom: 5rem;}

.Servicios {
    padding: 60px 20px;
    background: #002fff5d;
    text-align: center;
}

.h2Servicios {
    font-size: 4.5rem;
    margin-bottom: 50px;
}
.h2Servicios span{ color: #008DDF; }

.ListaServicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* hace que se divida en trescolumnas */
    gap: 2rem;
    list-style: none;
    width: 80%;
    margin: auto;
    padding: 0;
}

.ListaServicios li {
    padding: 20px;
    transition: 0.3s;
}

.TitleServicios {
    color: #333; 
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
 h4{
    font-size: 3rem;
    margin-bottom: 1.3rem;
 }
.PServicios {
    color: #666;
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0 auto;
}

.ListaServicios li:hover {
    transform: scale(1.05);
}

.Reseñas {
    margin-top: 9rem;
    margin-bottom: 7rem;
    padding: 1rem;
    text-align: center;
}

.tituloreseña {
    font-size: 4.8rem;
    padding-bottom: 3rem;
    color: #333;
}

.Rese {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 10px;
}

.re {
    position: relative;
    background: rgba(255, 255, 255, 0.716);
    min-width: 280px;
    padding: 20px 20px 25px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.17);

}

.Estrellas {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.Comentario {
    font-size: 2.5rem;
    color: #666;
    margin-bottom: 1rem;
}

.cliente {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
}

@media (max-width: 820px) {
    .Derecha {
        display: none;
    }

    .ContenidoFondo {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .Rese {
        flex-direction: column;
        align-items: center;
    }

    .re {
        margin-bottom: 1rem;
    }

    .ContenidoFondo {
        flex-direction: column;
        text-align: center;
    }

    .Izquierda h1 {
        font-size: 4rem;
    }
    .TitleQuienesSomos {
         font-size: 3rem;
         }
    .Acercadenostros { 
        padding-left: 2.5rem; 
        margin: 3rem;
    }
     .h2Servicios {
         font-size: 2.8rem; 
        }
    .ListaServicios {
         gap: 2rem;
         }
}
