* {
    /* Reseteo básico para quitar espacios por defecto del navegador */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    /* Facilita el uso de rem (1rem = 10px) */
    height: 100%;
    
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background: #33333331;
}

.MenuLogo {
    height: 50px;
}

.logo__menu,
.logo {
    width: 4rem;
}

#toggle__menu,
.logo__menu {
    display: none;
}

.MenuList {
    display: flex;
    list-style: none;
    gap: 35px;
}

.MenuList a {
    text-decoration: none;
    color: #333;
    /* Fuente y Tamaño */
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

.MenuList a:hover {
    color: #008DDF;
    transform: translateY(-2px);
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.fimg {
    display: flex;
    justify-content: right;
    height: 50px;
    filter: brightness(0) invert(1);
}

.footerlegal {
    display: flex;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.ItemsLegal {
    text-decoration: none;
    color: #bbb;
    font-size: 1.7Rem;
    transition: 0.3s;
}

.ItemsLegal:hover {
    color: #008DDF;
}

.MasAbajo {
    font-size: 19px;
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid;
    color: #bbb;
}

.btnWhatsapp {
    position: fixed;
    width: 55px;
    right: 2rem;
    bottom: 15rem;
    text-align: center;
    transition-duration: 0.2;

}

.btnWhatsapp :hover {
    transform: translateY(-7px);
}

@media (max-width: 480px) {
    header {
        flex-direction: row-reverse;
    }

    .Menu {
        position: absolute;
        top: 7rem;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.95);
        z-index: 1000;
        /*traee el texto al frente para qeu no quede atras */
        transition: width 1s ease, height 1s ease, opacity 1s ease, border-radius 1s ease;
    }

    .MenuList {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 6.5rem;
        left: 0;
    }

    .logo__menu {
        display: block;
        cursor: pointer;
    }

    #toggle__menu:checked~.Menu {
        height: 14rem;
        width: 100%;
        opacity: 1;

    }

    .fimg {
        justify-content: center;
        margin-bottom: 15px;
    }

    .btnWhatsapp {
        width: 45px;
    }
}